<h3>Edit Comment</h3>
<%= form_for [@post, @comment] do |f| %>
  <%= f.label :author %>
  <%= f.text_field :author, value: @user.username, readonly: true %>

  <%= f.label :content %>
  <%= f.text_area :content, :size => "70x10", :wrap => "hard" %>

  <%= f.submit %>
<% end %>

<h3>Delete Comment</h3>
<%= form_for [@post, @comment], method: :delete do |f| %>
  <%= f.submit "Delete Comment", class: "delete" %>
<% end %>
