<!-- Figure out how to order these by created by date/time AND do an after the jump char limit-->
<div>
  <% @posts.each do |post| %>
    <div class= "post">
      <div>
        <%=link_to "#{post.title}", post%>
      </div>

      <div>
        <%=truncate(post.content, length: 280)%><%= link_to "Keep Reading", post_path(post) %>
      </div>

      <div>
        Updated by <%=post.author%> <%=time_ago_in_words(post.updated_at)%> ago
      </div>
    </div>
  <%end %>
</div>
