<!-- Figure out how to order these by created by date/time -->
<div>
  <% @posts.each do |post| %>
    <div class= "post">
      <div>
        <%=link_to "#{post.title}", post%>
      </div>

      <div>
        <%=post.content%>
      </div>

      <div>
        <% if post.created_at > post.updated_at %>
          Posted by <%=post.author%> <%=post.created_at.strftime("on %A, %B %d, %Y at %I:%M %p")%>
        <% else %>
          Updated by <%=post.author%> <%=post.updated_at.strftime("on %A, %B %d, %Y at %I:%M %p")%>
        <% end %>
      </div>
      <%= link_to "View Comments", post_comments_path(post, post.comments) %>
    </div>
  <%end %>
</div>

<div>
  <!-- Figure out how to order these by created by date/time -->
  <h3>Comments</h3>

</div>
