<div class= "post">
  <div>
    <%= @post.title %>
  </div>

  <div>
    <%= @post.content %>
  </div>

  <div>
    <% if @post.created_at > @post.updated_at %>
      Posted by <%=@post.author%> <%=@post.created_at.strftime("on %A, %B %d, %Y at %I:%M %p")%>
    <% else %>
      Updated by <%=@post.author%> <%=@post.updated_at.strftime("on %A, %B %d, %Y at %I:%M %p")%>
    <% end %>
  </div>
</div>
<%= link_to "Edit This Post", edit_post_path %>
<h3>Comments</h3>
<div>
  <% @comments.each do |comment| %>
    <%=comment.content%> - <%=comment.author%> - <%=comment.created_at.strftime("%A, %B %d, %Y - %I:%M %p %Z")%>
    <%= link_to "Edit This Comment", edit_post_comment_path(@post, comment) %>
<%end %>
</div>
<h3>Have Your Say</h3>
<%= form_for [@post, @comment] do |f| %>
  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit %>
<% end %>
