  <div class= "post_title">
    <%= @post.title %>
  </div>

  <div class= "byline">
    Updated by <%=@post.author%> <%=time_ago_in_words(@post.updated_at)%> ago
  </div>

  <div class= "post_content">
    <%= @post.content %>
    <% if @post.author == @user.username %>
      <%= link_to "Edit/Delete This Post", edit_post_path, class: "post_edit_button" %>
    <% end %>
  </div>

<div class= "comments">
  <h3>Comments</h3>
  <% @comments.each do |comment| %>
    <div>
    "<%=comment.content%>"
    <span class= "comment_authordate"> <%=comment.author%>, <%=comment.created_at.strftime("%A, %B %d, %Y - %I:%M %p %Z")%>
    <% if @post.author == @user.username %>
      <%= link_to "Edit/Delete This Comment", edit_post_comment_path(@post, comment), class: "comment_edit_button"%>
    <% end %>
    </span>
    </div>
    <%end %>
</div>

<div class= "new_comment">
<h3>Have Your Say</h3>
<%= form_for [@post, @comment] do |f| %>
  <%= f.label :author, "Name" %>
  <%= f.text_field :author, value: @user.username, readonly: true %>

  <%= f.label :content, "Comment" %>
  <%= f.text_area :content %>

  <%= f.submit "Submit" %>
<% end %>
</div>
