<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= link_to (image_tag "scribble-logo.png", alt: "Scribble Logo", id: "scribble-logo"), posts_path %>
    <%= link_to "New Post", new_post_path %>
  </header>

  <%= yield %>

  <footer>
    <p>Scribble is a Ruby on Rails writing application where users can read, write, and interact with the best content all around the world. Get hip.</p>
  </footer>
</body>
</html>
