<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <%= link_to "HOME", posts_path %>
      <a>Sign Up</a>
      <a>Sign In</a>
      <a>Sign Out</a>
      <%= link_to "New Post", new_post_path %>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
